@charset "utf-8";

// 各種「登録フォーム」の共通パーツのスタイルです。


// ----------▼▼ 「登録フォーム」の共通パーツのスタイル ▼▼----------

// -----▼ ユーザー認証系フォームの共通スタイル ▼-----
.form.-authentication {
  // 入力欄の背景色と枠線
  input.form-list-item-data-content.-text,
  .form-list-item-data-content.-text input,
  .form-list-item-data-content.-textarea textarea,
  .form-list-item-data-content.-select,
  .form-list-item-data-content.-radio .form-list-item-data-content-label-text::before,
  .form-list-item-data-content.-checkbox.-check .form-list-item-data-content-label-text::before,
  .form-list-item-data-content.-checkbox.-fill .form-list-item-data-content-label-text,
  .form-list-item-data-content.-calendar {
    background-color: $blue_bgLight;
    @include sp {
      border-radius: 4px;
      border: 1px solid $blue_grayBorder;
    };
    @include pc {
      border-radius: 4px;
      border: 1px solid $blue_grayBorder;
    };
  }
}
// 「パスワード」限定のスタイル
.form-list-item.-password .form-list-item-data-content.-text {
  @include sp {
  };
  @include pc {
  };
}
.form-list-item.-password .form-list-item-data-content.-text input {
  @include sp {
    border: none;
  };
  @include pc {
    border: none;
  };
}
.form-list-item.-password .v-input__slot {
  background-color: $blue_bgLight;
  display: flex;
  @include sp {
    align-items: center;
    border-radius: 4px;
    border: 1px solid $blue_grayBorder;
    padding-right: 12px;
  };
  @include pc {
    align-items: center;
    border-radius: 4px;
    border: 1px solid $blue_grayBorder;
    padding-right: 16px;
  };
}
.form-list-item.-password .v-text-field .v-input__append-inner {
  align-self: auto !important;
  @include sp {
  };
  @include pc {
  };
}
// プレースホルダーの文字色
.form.-authentication {
  input,
  textarea {
    &::placeholder {
      color: $blue_placeholder !important;
    }
    &::placeholder-shown {
      color: $blue_placeholder !important;
    }
    &::-webkit-input-placeholder {
      color: $blue_placeholder !important;
    }
    &::-ms-input-placeholder {
      color: $blue_placeholder !important;
    }
  }
  // 入力フォームにフォーカスした時、プレースホルダーを非表示にする。
  input:focus::placeholder,
  textarea:focus::placeholder {
    color: transparent !important;
    transition: color .1s;
  }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
    transition: color .1s;
  }
  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder {
    color: transparent !important;
    transition: color .1s;
  }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent !important;
    transition: color .1s;
  }
}
// -----▲ ユーザー認証系フォームの共通スタイル ▲-----

// -----▼ 登録フォームの共通スタイル ▼-----
// 登録フォーム
.form-regist {
  @include sp {
  };
  @include pc {
  };
  // フォームのヘッダー
  .form-header {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームのヘッダーのタイトル
  .form-title {
    @include sp {
    };
    @include pc {
    };
  }
  .form-title + .form-text {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームのヘッダーの文章
  .form-text {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームのセクション間のマージン
  .form-header + .form-section.-input,
  .form-header + .form-section.-submit {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームのセクション「入力欄」
  .form-section.-input {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームのセクション「送信ボタン」
  .form-section.-submit {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力項目のリスト
  .form-list {
    @include sp {
    };
    @include pc {
    };
  }

  .form-input-list.-layer1 {
    @include sp {
    };
    @include pc {
    };
  }
  .form-input-list.-layer2 {
    @include sp {
    };
    @include pc {
    };
  }
  .form-input-list.-layer3 {
    @include sp {
    };
    @include pc {
    };
  }

  // 個々の入力項目
  .form-input-list-item {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力項目のタイトル
  .form-list-item-title {
    @include sp {
    };
    @include pc {
    };
  }
  .form-list-item-title-label {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄
  .form-list-item-data {
    @include sp {
    };
    @include pc {
    };
  }
  .form-list-item-data-content {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（単文）
  .form-list-item-data-content.-text {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（テキストエリア）
  .form-list-item-data-content.-textarea {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（セレクトボックス）
  .form-list-item-data-content.-select {
    @include sp {
    };
    @include pc {
    };
  }
  // セレクトボックスのラッパー（アイコン配置用）
  .form-list-item-data-select-wrap {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（ラジオボタン）
  .form-list-item-data-content.-radio {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（チェックボックス）
  .form-list-item-data-content.-checkbox {
    @include sp {
    };
    @include pc {
    };
  }
  // ラジオボタンやチェックボックスのlabel部分
  .form-list-item-data-content-label {
    @include sp {
    };
    @include pc {
    };
  }
  // ラジオボタンやチェックボックスの文言（sapn）部分
  .form-list-item-data-content-label-text {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（日付のカレンダー入力）
  .form-list-item-data-content.-calendar {
    @include sp {
    };
    @include pc {
    };
  }
  // 日付のカレンダー入力のラッパー（アイコン配置用）
  .form-list-item-data-calendar-wrap {
    @include sp {
    };
    @include pc {
    };
  }
  // 入力欄（ファイル）
  .form-list-item-data-content.-file {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームの記入例
  .form-list-item-data-description {
    @include sp {
    };
    @include pc {
    };
  }
  // フォーム内の注意書き
  .form-list-item-data-note {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームの送信ボタン
  .form-btn {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームの送信ボタン「メールマガジン登録」ボタン（登録フォーム用）
  .form-btn.-registNewsletter {
    @include sp {
    };
    @include pc {
    };
  }
  // フォームの送信ボタン「LINE登録」ボタン（登録フォーム用）
  .form-btn.-registLine {
    @include sp {
    };
    @include pc {
    };
  }

  // ※フォームの送信ボタンそのもののスタイルは「_button.scss」に記述

}
// -----▲ 登録フォームの共通スタイル ▲-----

// -----▼ フォームの種類 ▼-----
// 登録フォーム
.form.form-regist {
  @include sp {
  };
  @include pc {
  };
}
// 登録フォーム「メールマガジン」
.form.form-regist.-newsletter {
  @include sp {
  };
  @include pc {
  };
}
// 登録フォーム「LINE」
.form.form-regist.-line {
  @include sp {
  };
  @include pc {
  };
}
// -----▲ フォームの種類 ▲-----

// -----▼ 登録フォーム「メールマガジン」の共通スタイル ▼-----
.form-regist.-newsletter {
  @include sp {
  };
  @include pc {
  };

}
// -----▲ 登録フォーム「メールマガジン」の共通スタイル ▲-----

// -----▼ 登録フォーム「LINE」の共通スタイル ▼-----
.form-regist.-line {
  @include sp {
  };
  @include pc {
  };

}
// -----▲ 登録フォーム「LINE」の共通スタイル ▲-----

// ----------▲▲ 「登録フォーム」の共通パーツのスタイル ▲▲----------
