@charset "utf-8";

// 「フッター」のスタイルです。


// ----------▼▼ フッター footer ▼▼----------

// フッター全体
.Footer {
  background-color: $black;
  @include sp {
    padding: 0 0 0;
  };
  @include pc {
    padding: 0 0 0;
  };
}
// フッターの中身
.Footer__content {
  @include sp {
    padding: 48px 0 48px;
  };
  @include pc {
    display: flex;
    justify-content: space-between;
    padding: 56px 0 64px;
  };
}

// -----▼ フッターの会社情報 .Footer__brandInfo ▼-----
.Footer__brandInfo {
  @include sp {
  };
  @include pc {
  };
}
// ロゴとテキスト
.Footer__brandCI {
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandCILogo {
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandCILogoLink {
  display: block;
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandCILogoLinkImg {
  margin-left: 0;
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandCILogo + .Footer__brandCIText {
  @include sp {
    margin-top: 16px;
  };
  @include pc {
    margin-top: 16px;
  };
}
.Footer__brandCIText {
  color: $white;
  @include sp {
    font-size: 1.3rem;
    line-height: 1;
  };
  @include pc {
    font-size: 1.3rem;
    line-height: 1;
  };
}
// SNSリンク
.Footer__brandCI + .Footer__brandSNS {
  @include sp {
    margin-top: 22px;
  };
  @include pc {
    margin-top: 20px;
  };
}
.Footer__brandSNS {
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandSNSList {
  display: flex;
  @include sp {
  };
  @include pc {
  };
}
.Footer__brandSNSListItem {
  @include sp {
    line-height: 1;
  };
  @include pc {
    line-height: 1;
  };
}
.Footer__brandSNSListItem + .Footer__brandSNSListItem {
  @include sp {
    margin-left: 18px;
  };
  @include pc {
    margin-left: 14px;
  };
}
// メディアキット
.Footer__brandSNS + .Footer__brandMediaKit {
  @include sp {
    margin-top: 16px;
  };
  @include pc {
    margin-top: 14px;
  };
}
.Footer__brandMediaKit {
  @include sp {
    line-height: 1;
  };
  @include pc {
    line-height: 1;
  };
}
.Footer__brandMediaKitLink {
  color: $gray_b;
  @include sp {
    font-size: 1.2rem;
  };
  @include pc {
    font-size: 1.2rem;
  };
}
// ホバー時の効果
.Footer__brandMediaKitLink {
  @include sp {
    &:active {
      color: $gray_b;
      text-decoration: underline !important;
    }
  };
  @include pc {
    cursor: pointer;
    &:hover {
      color: $gray_b;
      text-decoration: underline !important;
    }
  };
}
// -----▲ フッターの会社情報 .Footer__brandInfo ▲-----

// -----▼ フッターのサイトマップ .Footer__sitemap ▼-----
.Footer__brandInfo + .Footer__sitemap {
  @include sp {
    margin-top: 40px;
  };
  @include pc {
  };
}
.Footer__sitemap {
  @include sp {
  };
  @include pc {
    display: flex;
  };
}
.Footer__sitemapUnit {
  @include sp {
  };
  @include pc {
    width: calc(calc(1000px - calc(40px * 3)) / 4);
  };
}
.Footer__sitemapUnit + .Footer__sitemapUnit {
  @include sp {
    margin-top: 40px;
  };
  @include pc {
    margin-left: 40px;
  };
}
.Footer__sitemapList {
  @include sp {
  };
  @include pc {
  };
}
.Footer__sitemapListItem {
  @include sp {
    line-height: 1;
  };
  @include pc {
    line-height: 1;
  };
}
.Footer__sitemapListItem + .Footer__sitemapListItem {
  @include sp {
    margin-top: 20px;
  };
  @include pc {
    margin-top: 20px;
  };
}
.Footer__sitemapListItemLink {
  color: $white;
  @include sp {
    font-size: 1.4rem;
  };
  @include pc {
    font-size: 1.4rem;
  };
}
// ホバー時の効果
.Footer__sitemapListItemLink {
  @include sp {
    &:active {
      color: $white;
      text-decoration: underline !important;
    }
  };
  @include pc {
    cursor: pointer;
    &:hover {
      color: $white;
      text-decoration: underline !important;
    }
  };
}
// -----▲ フッターのサイトマップ .Footer__sitemap ▲-----

// -----▼ フッターのコピーライト .Footer__copyright ▼-----
.Footer__copyright {
  @include sp {
    border-top: 1px solid $gray_7;
    padding: 14px 0;
  };
  @include pc {
    border-top: 1px solid $gray_7;
    padding: 16px 0;
  };
}
.FtCr__copyrightText {
  color: $white;
  text-align: center;
  @include sp {
    font-size: 1.2rem;
  };
  @include pc {
    font-size: 1.2rem;
  };
}
// -----▲ フッターのコピーライト .Footer__copyright ▲-----

// ----------▲▲ フッター footer ▲▲----------
